name: Run Groww Scraper

on:
  schedule:
    # 650 AM IST = 1:20 UTC, choosing a time before mkt opening because the github action workflow runs late.
    # If it starts running on time, switch it to 920AM IST
    - cron: "20 1 * * 1-5"
    # 12:20 PM IST = 06:50 UTC
    - cron: "20 7 * * 1-5"
  workflow_dispatch: # allow manual trigger

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scraper
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          python option_writer.py
